html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*created wrapper for blog page*/
.wrapper {
    width: 80%;
    margin: 0 auto;
    border: 2px solid red;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

/* created header for blog page */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;

}

.rightheader {
    flex-basis: 60%;
    margin-top: 3.75rem;
    margin-left: 0.5rem;

}

.rightheader h1 {
    margin: 0;
    color: #da0090;
    font-size: 3rem;
}

.rightheader p {
    margin: 0;

}
 section {
    border-bottom: #da0090;
    margin-bottom: 0.3rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #a61f11;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer li {
    display: inline-block;
}





